html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#signup-case {
  margin-top: 9rem;
  text-align: left;
  height: 100vh;
}

table,
td,
th {
  border: 1px solid #d8d4d4;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 13rem;
}

th {
  height: 5rem;
}

@media only screen and (max-width: 720px) {
}
